<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:appCategory="productivity" android:hasFragileUserData="true" android:installLocation="internalOnly" android:versionName="3.1.8.0" package="com.FMSC.FScruiser" android:versionCode="3010800">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="FScruiser" android:theme="@style/MyTheme.Splash"></application>
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="33" />
</manifest>