[submodule "Xamarin.Forms.DataGrid"]
	path = Xamarin.Forms.DataGrid
	url = https://github.com/BenCamps/Xamarin.Forms.DataGrid.git
	branch = new_grid
[submodule "./Xamarin.Forms.DataGrid"]
	url = https://github.com/BenCamps/Xamarin.Forms.DataGrid.git
