using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace FScruiser.XF
{
    public static partial class Secrets
    {
        static Secrets()
        {
            APPCENTER_KEY_DROID = "$(fscruiser_appcenter_key_droid)";
            APPCENTER_KEY_UWP = "";
            APPCENTER_KEY_IOS = "";
        }
    }
}