[*]
end_of_line = crlf

# VSSPELL: Spell checker settings
vsspell_section_id = 980873a9e6d84760b0774720450328e8
vsspell_ignored_words_980873a9e6d84760b0774720450328e8 = FScruiser|ifnull|NatCruise|syncer|untally|xunit|playbook

[*.xml]
indent_style = space

[*.{cs,vb}]
indent_size = 4
trim_trailing_whitespace = true

